body{
  font-family: "Gill Sans", "Gill Sans MT","Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color:deeppink;
  padding: 10px 0; 
  display: flex;
  justify-content: space-between;
  align-items: center; 
}


.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 26px;
  padding-left:20px ;
  font-weight: bold;
  color: #ffffff;
}
#btn:hover{
  transition: 0.5s;
  color: white;
  background-color: deeppink;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;  
}
nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: #f0f0f0;
  color:deeppink;
  transition: 0.9s;
  letter-spacing: 0.1cap;
}


.subscribe-button {
  background-color: #ffffff;
  color: deeppink;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color:deeppink;
  color: white  ;
}
.bts{
  color:rgb(95, 53, 203);
}
.forsec{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-items: center;
  justify-content: space-between;
  padding-left: 20px;
}
.dadi1 {
  align-content: center;
  font-size: larger;
  
}
.dadiv2 {
  margin-top: 10px;
  text-align: center;
  border-radius: 100%;
}
h1{
  font-size: 50px;
  color: rgb(252, 61, 163);
}
#capcut{
   height:600px;
   width: auto;
   border-radius: 100%"
}
.dadi3{
  align-content: center;
}
.dadi3 ul{
  list-style: none;

  flex-direction: column;
}
.dots{
  width: 50%;
  text-align: center;
}
#sec2{
   height: 450px;
  background-color:rgb(95, 53, 203);
  align-content: center;
 
}
.details {
  width: 60%;
  color: white;
  font-size: larger;
}
.serve {
  text-align: center;
  font-size: larger;
  padding-top: 82px;
  width: 50%;
}
.design1{
  margin-top: 130px;
  font-size: small;
  text-decoration: overline;
}
.design2{
  font-size: small;
}
.services ul li {
  height: 50px;
  font-size: large;
  font-weight: 500;
  border: 2px solid rgb(252, 43, 154);
}
.container7 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
  
  justify-content: center;
}

.box {
  width: 20px;
  height: 90px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-style: none; 
  background-color: lightblue;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  box-shadow: 5px 5px rgb(163, 127, 252);

}

.box:hover {
  background-color: rgb(95, 53, 203);
  transform: scale(1.05);
  width: 180px;
  transition: 0.5s;
  color: white;
  letter-spacing: 0.25rem;
}

#pros{
  display: flex;
  justify-content: center;
  
}
.promax{
  align-items: center;
  display: flex;
  border-radius: 20px;
  background-color: rgb(95, 53, 203);
  font-size: 25px;
  color: white;
}
.latestpro{
  width:85%;

  padding-left: 50px;
}

.grace{
display: flex;
background-color: lightskyblue;
align-content: center;
}
.girl img{
  height:350px;
 
}
.opnion{
 align-self: center;
 padding-left: 20px;
}


.text{
font-size: 35px;
padding-left: 180px;
}
.packets{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  gap: 3px;
 } 
 #myclients{
  height: 18pc;
  color: white;
  background-color:rgb(95, 53, 203);
 }
 .logos2{
  align-self: center;
 padding-left: 200px;  

}
#blog-site{
  background-color:rgb(95, 53, 203) ;
}
 .blog-dad{
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
 .blog-child{
  width: 70%;
  max-width: 400px;
  text-align: center;
  color: white;  
 }
 .cover-pic{
  display: block;
  width: 100%;
}
.profile-pic{
  width: 140px;
  margin-top: -100px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px deeppink;
  background-color: white;

}
.read-btn{
 display: inline-block;
 text-decoration: none;
 color: rgb(0, 0, 0);
 background-color: white;
 border: 2px solid #ffffff;
 padding: 6px 35px ;
 margin:25px 0px ;
}
#FAQ{
  height: 50vh;
  background-color: white;
}
 #mind{
  height: 22pc;
  text-align: center;
  align-content: center;
 }
 .footer-container{
  background-color:rgb(95, 53, 203);
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  column-gap: 80px;
   text-align: top;
   height: 15pc;
}

.heads{
  font-size:23px;
}
.email{
 color: white;
 background: transparent;
}
#fbtn{
 
  width: 170px;
  background-color:rgb(233, 233, 233);
  border-radius: 7px;
  height: 40px;
  margin-top:9px;
}
.fa-brands{
  list-style: none;
  color:rgb(109, 19, 255);
  font-size: 24px;
  margin-right: 180px;
}
.fa-bullseye{
  font-size: 80px;
  color:rgb(255, 255, 255);

}
.mob-menu{
  font-size: 30px;
  color: rgb(0, 0, 0);
}

 .serve{
 align-self: center;
 }
 .para9{
  display: none;
 }

.box{
  width: 170px;
}
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.image-section {
  height: 110vh;
  display: flex;
  background-color:rgb(95, 53, 203) ;
  color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
}

.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin-bottom: 10px;
}

.image-container img {
  width: 40%;
  max-width: 250px;
  height: auto;
  margin-right: 20px;
}

.image-container p {
  margin: 0;
  font-size: 16px;
  flex-grow: 1;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}
.pdiv{
  width: 70%;
  align-self: center;
}
button {
  --color: rgb(95, 53, 203);
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em; 
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.h1{
  display: none;
}
button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #3a0ca3;

}
.mob-menu{
  display: none;
}
.head9{
  font-size: 35px
}

/* mobile responsiveness */

@media (min-width:360px)  and (max-width:767px){
  /* header here */
  .nav-links{
    display: none;
  }
  .mob-menu{
    display: block;
    color: white;
    justify-content: space-around;
  }
  /* hero-section here */
  .dadi1{
    text-align: center;
  }
  .dadiv2{
    display: none;
  }
  .dadi3{
  display: none;
  }
  
  .forsec{
    justify-content: center;
  }
  .dadi1 h1{
    font-size: 30px;
  }
  #sec2{
    margin-top: 18px;
  }
  .dots{
    display: flex;
    flex-direction: column;
    align-content:end;
    size: 10px;
  }
  .fa-bullseye{
    font-size: 40px;
    
  }
  #get{
    font-size: 15px;
  }
  .details heading{
    font-size: 11px;
  }
  #sec3{
    display: flex;
    flex-direction: column;

    & .box{
      height: 40px;
      width: auto;
      border-radius: 5px;
      margin-bottom: 20px;
    }
  }
  .bold{
    font-size: 15px;
  }
  .makeup{
    display: none;
  }
  #pros{
    margin-top: 120px;
    & heading{
      font-size: 18px;
    }
  }
  .girl{
    display: none;
  }
  .image-section{
    margin-top:20px;
    width: 100%;
    height: auto;

  }
  .pdiv{
    & img{
      display: none;
    }
  }
}

/* Tablet responsiveness starts here */

@media (min-width:768px) and (max-width:1024px) {
  .nav-links{
    display: none;
  }
  .mob-menu{
    display: block;
    color: white;
    justify-content: space-around;
  }
  /* hero-section here */
  .dadi1{
    text-align: center;
  }
  .dadi3{
  display: none;
  }
  
  .forsec{
    justify-content: center;
  }
  .dadi1 h1{
    font-size: 32px;
  } 
  #cfeedback{
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
  }
  #sec3{
    display: flex;
    flex-direction: column;

    & .box{
      height: 65px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
  #pros{
    margin-top: 50px;
  }
  .head9{
    font-size: 12px;
  }
  .image-section{
    margin-top:20px;
    width: 100%;
    height: auto;

  }
  .pdiv{
    
  }
}