body{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}
header {
  display: flex;
  height: 50px;
  align-items: baseline;
  background-color: deeppink;
  color: white;
}
header nav ul li {
  padding-left: 240px;
  font-size: larger;
}

.logo {
  font-size: 28px;
  padding-left: 30px;
  color: white;
}
.dadi1 {
  width: 40%;
  align-self: center;
  font-size: larger;
}
.dadiv2 {
  width: 40%;
  text-align: center;
  /* background-color:deeppink; */
  border-radius: 100%;
}
.dadi3 nav ul {
  width: 20%;
  list-style: none;
  align-tracks: bottom;
}
.dots {
  text-align: center;
}
.details {
  align-self: center;
  font-size: larger;
}
.serve {
  text-align: center;
  align-content: center;
  font-size: larger;
  width: 50%;
  color: deeppink;
}
.services ul li {
  height: 50px;
  font-size: large;
  font-weight: 500;
  border: 2px solid rgb(252, 43, 154);
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 80px;
  height: 300px;
  justify-content: center;
}

.box {
  width: 150px;
  height: 80px;
  background-color: #4CAF50;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
  transition: transform 0.2s; 
}

.box:hover {
  transform: scale(1.05);
}